body {
  font-family: "Roboto";
}
.container {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  width: 75px;
  height: auto;
  cursor: pointer;
}
.bgHeader {
  width: 100%;
  background-color: #fff;
  border-bottom: rgb(240, 240, 240) 1px solid;
}
.header {
  width: 1240px;
  padding: 10px;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bgOffer {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background-color: #ebedee;
  min-height: 100vw;
}
.containerOffer {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.boxPhotos {
  width: 920px;
  height: 620px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}
.photosOffer {
  width: 454px;
  height: 620px;
  object-fit: cover;
  margin-right: 3px;
}
.productDetails {
  width: 260px;
  min-height: 700px;
  background-color: #fff;
  padding: 20px;
}
.signIn {
  display: inline-block;
  border: none;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #09b1ba;
  font-size: 0.7rem;
}
.errorMessage {
  color: tomato;
  margin-top: 20px;
}
.boxSign {
  border: #09b1ba 1px solid;
  border-radius: 5px;
  padding: 5px 10px 5px 5px;
  font-size: 0.6;
  text-decoration: none;
  outline: none;
  color: #09b1ba;
  display: flex;
  align-items: center;
}
.bgNav {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border-bottom: rgb(240, 240, 240) 1px solid;
  display: flex;
  align-items: center;
}

.navBar {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.nav {
  width: auto;
  height: 40px;
  padding: 0 10px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  text-decoration: none;
}
.nav:hover {
  background-color: rgba(240, 240, 240, 0.431);
}
.text_decoration {
  text-decoration: none;
  color: rgb(163, 163, 163);
  font-weight: 300;
}
.hero {
  width: 100%;
  height: 570px;
  position: relative;
}
.vendre {
  width: 340px;
  height: 200px;
  background-color: #fff;
  z-index: 12;
  position: absolute;
  left: 17%;
  top: 25%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
}
.titleVendre {
  font-size: 2.2rem;
}
.btVendre {
  color: #fff;
  background-color: #09b1ba;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer;
}
.baselineVendre {
  color: #09b1ba;
  font-size: 0.8rem;
  font-weight: 300;
  cursor: pointer;
}
.imgHero {
  position: absolute;
  width: 100%;
  height: 570px;
  object-fit: cover;
  z-index: 10;
}
.imgBas {
  z-index: 12;
  position: absolute;
  width: 1000px;
  bottom: 0;
  right: 0;
}

.articlesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.article {
  width: 235px;
  height: auto;
  float: left;
  margin: 6px;
  margin-bottom: 70px;
}
.avatarName {
  width: 235px;
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 0px;
  color: rgb(163, 163, 163);
  font-size: 0.6rem;
  letter-spacing: 0.05rem;
}
.clientImg {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-right: 10px;
}
.imgArticleHome {
  width: 235px;
  height: 355px;
  object-fit: cover;
}
.footerArticle {
  width: 235px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.price {
  width: 235px;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(47, 47, 47);
  margin-top: 5px;
  margin-bottom: 3px;
}
.productName {
  width: 235px;
  color: rgb(163, 163, 163);
  font-size: 0.7rem;
  font-weight: 300;
  margin-top: 3px;
}

.taille {
  width: 235px;
  height: 10px;
  margin-bottom: 2px;
  color: rgb(163, 163, 163);
  font-size: 0.7rem;
  font-weight: 300;
}

.connect {
  width: 260px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.titleConnect {
  width: 260px;
  height: 20px;
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.imputConnect {
  margin-bottom: 30px;
  border: none;
  text-decoration: none;
  background-color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #09b1ba;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Roboto";
  width: 260px;
  height: 25px;
  outline: none;
  border-bottom: rgb(233, 233, 233) 1px solid;
}
.imputConnect:focus {
  background-color: rgb(232, 240, 254);
}

.btConnect {
  width: 260px;
  height: 50px;
  background-color: #09aeb7;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
.mdpLost {
  width: 260px;
  margin-top: 25px;
  text-decoration: none;
  color: #09b1ba;
  font-weight: 300;
}

.checkBox {
  width: 24px;
  height: 24px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  border: grey 1px solid;
  float: left;
  margin-right: 10px;
}
.checkBox:focus {
  background-color: #09b1ba;
  outline: none;
  border: none;
  background-image: url(/src/components/check.svg);
}

.checkNews {
  color: rgb(114, 114, 114);
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 255px;
}
.disclaimer {
  margin: 10px 0 20px 0;
  width: 245px;
  height: auto;
  color: rgb(114, 114, 114);
  font-size: 0.7rem;
  text-align: left;
  font-weight: 300;
  line-height: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.disconnect {
  width: auto;
  height: auto;
  background-color: #09b1ba;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #fff;
  outline: none;
  text-decoration: none;
  border: none;
  padding: 10px 15px;
}
.priceOffer {
  font-size: 1.5rem;
  margin-top: 10px;
}
.protect {
  width: 260px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: #eeeeee 1px solid;
  padding-bottom: 10px;
}
.shield {
  width: 15px;
  height: 20px;
  image-rendering: -webkit-optimize-contrast;
}
.protectText {
  width: 235px;
  font-size: 0.8rem;
  color: rgb(42, 42, 42);
  line-height: 1rem;
  letter-spacing: 0.5;
  font-weight: 400;
}
.protectTextColor {
  font-size: 0.8rem;
  color: #09aeb7;
  line-height: 1rem;
  letter-spacing: 0.01rem;
}
.livraison {
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 0.9rem;
}
.iconOffer {
  width: 17px;
  margin-right: 10px;
}
.boxDetails {
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 0.9rem;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: #eeeeee 1px solid;
}
.details0 {
  width: 125px;
  height: auto;
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: rgb(168, 168, 168);
  font-size: 0.8rem;
}
.details1 {
  width: 125px;
  height: auto;
  font-size: 0.9rem;
  line-height: 1.3rem;
  font-size: 0.8rem;
  color: rgb(97, 97, 97);
}
.details2 {
  width: 10px;
  height: auto;
  font-size: 0.9rem;
  padding: 5px;
}
.boxDescription {
  margin-top: 20px;
}

.description {
  font-weight: 300;
  margin-top: 10px;
  line-height: 1.5rem;
  font-size: 0.9rem;
  color: rgb(97, 97, 97);
}
.button1 {
  width: 260px;
  display: flex;
  align-content: center;
  justify-content: center;
  border: #09aeb7 1px solid;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #09aeb7;
  margin-top: 10px;
}
.button2 {
  width: 260px;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  background-color: #09aeb7;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  margin-top: 10px;
  color: #fff;
}
.button3 {
  width: 260px;
  display: flex;
  align-content: center;
  justify-content: center;
  border: grey 1px solid;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-top: 10px;
  color: grey;
}
.titlesPublish {
  color: red;
}
